%header
  %h1 Hitori Mahjong Simulator Results
%p
  %strong Hand: 
  ="#{hand}"
  %br
  %strong Calls: 
  ="#{calls}"
  %br
  %strong Dora: 
  ="#{dora}"
  %br
  %strong Yaku: 
  ="#{yaku}"
  %h3 Results
  %table
    %tr
      %th Turn
      %th Tenpai Rate
      %th Tsumo Rate
    - 0.upto(17) do |i|
      %tr
        %td="#{18 - i}"
        %td= tenpai_rates[i]
        %td= tsumo_rates[i]

